name: CI


on: 
  push:
    branches: 
      - master

jobs:
  validate-templates:
    runs-on: ubuntu-latest
    steps:
      - name: env test 
        run: env
      - name: test 
        shell: bash
        working-directory: .
        run: |
          for i in $(ls ./templates/) ; do 
            echo $i ; 
            docker run -v $(pwd)/templates:/tmp/templates altemista/dev-portal:latest /usr/src/app/server/scripts/parser /tmp/templates/$i ; 
          done 

  update-portal:
    needs: validate-templates
    runs-on: ubuntu-latest
    steps:
    - name: Call webhook
      run: curl -X POST https://testdev.altemista.cloud/api/webhook
      # TODO: Search for a better way to update all nodes behind load balancer ...
    - name: Call webhook
      run: curl -X POST https://testdev.altemista.cloud/api/webhook
    - name: Call webhook
      run: curl -X POST https://testdev.altemista.cloud/api/webhook
    - name: Call webhook
      run: curl -X POST https://testdev.altemista.cloud/api/webhook
